#torch cuda
numpy==1.23.5
tqdm
more-itertools
transformers>=4.19.0
ffmpeg-python==0.2.0
click
pyaudio
SpeechRecognition
pydub
#git+https://github.com/openai/whisper.git
pynput
openai-whisper
rich
librosa==0.8.1
#pip install -U ginza ja_ginza
textdistance
python-osc
fugashi[unidic-lite]
ipadic